  <header class="header">
    <div class="header-left">
      <button class="mobile-menu-toggle" id="mobileMenuToggle">
        <i class="fas fa-bars"></i>
      </button>
      <div>
      </div>
    </div>
    <div class="header-right">
      <div class="user-info">
        <span class="user-role">
          {{ usuarioLogado.tipo === 'admin' ? 'Administrador' : 'Usuário' }}
        </span>
        <span class="user-name">{{ usuarioLogado.nome }}</span>
        <div class="user-avatar">
          <i class="fas fa-user"></i>
        </div>
        <button (click)="logout()">Sair</button>
      </div>
      <button class="logout-btn">
        <i class="fas fa-sign-out-alt"></i>
      </button>
    </div>
  </header>
