<app-sidebar></app-sidebar>

<div class="main-content">

  <app-navbar></app-navbar>

  <div class="content-section active">
    <div class="section-header">
    </div>

    <div class="dashboard-card">
      <h3>Lista de Reivindicações</h3>

      <div class="pending-claims">
        <div *ngFor="let r of reivindicacoesComItem; trackBy: trackByReivindicacao">
          <div class="claim-item">
            <div class="claim-info">
              <strong>{{ r.id }} - {{ r.item?.nome }}</strong>
              <span>{{ r.usuario }}</span>
            </div>

            <div class="claim-info">
              <span><b>Local:</b> {{ r.item?.local }}</span>
              <span><b>Descrição:</b> {{ r.item?.descricao }}</span>
            </div>

            <div class="claim-info">
              <span>{{ r.item?.data | date: 'dd/MM/yyyy' }}</span>
            </div>

            <div
            class="claim-actions"
            *ngIf="usuarioLogado.tipo === 'admin' && r.status === 'pendente'">
              <button class="btn-approve" (click)="aprovar(r)">Aprovar</button>
              <button class="btn-reject" (click)="recusar(r)">Recusar</button>
            </div>

            <div class="status">
              <span
                class="status"
                [ngClass]="{
                  pending: r.status === 'pendente',
                  active: r.status === 'aprovado',
                  returned: r.status === 'recusado'
                }"
              >
                {{ r.status | titlecase }}
              </span>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
