<app-sidebar></app-sidebar>

<div class="main-content">

  <app-navbar></app-navbar>

  <div class="content-section active">
    <div class="section-header">
      <h2>Reivindicações</h2>
    </div>

    <div class="dashboard-card">
      <h3>Lista de Reivindicações</h3>

      <div class="pending-claims">
        <ng-container *ngFor="let r of reivindicacoes">
          <div class="claim-item" *ngFor="let i of itens">
            <div class="claim-info">
              <strong>{{ r.item }}</strong>
              <span>{{ r.usuario }}</span>
              <span>{{ i.local }}</span>
              <span>{{ i.descricao }}</span>
            </div>

            <span
              class="status"
              [ngClass]="{
                pending: r.status === 'pendente',
                active: r.status === 'aprovado',
                returned: r.status === 'recusado'
              }"
            >
              {{ r.status | titlecase }}
            </span>

            <div
              class="claim-actions"
              *ngIf="usuarioLogado.tipo === 'admin' && r.status === 'pendente'"
            >
              <button class="btn-approve" (click)="aprovar(r)">Aprovar</button>
              <button class="btn-reject" (click)="recusar(r)">Recusar</button>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
