<app-sidebar></app-sidebar>

<div class="main-content">

  <app-navbar></app-navbar>

  <div class="content-section active">
    <div class="section-header">
    </div>

    <div class="stat-card">
      <div class="item-filter">
        <label for="item" style="text-wrap: nowrap;">Filtrar por item:</label>
        <input
          type="text"
          name="item"
          placeholder="Digite o nome do item aqui..."
          [(ngModel)]="filtroItem"
          (ngModelChange)="filtrarItem()"
          class="filter-input"
        />
      </div>
      <div class="item-filter">
        <label for="users" style="text-wrap: nowrap;">Filtrar por Usuário:</label>
        <input
          type="text"
          name="users"
          placeholder="Digite o nome do usuário aqui..."
          [(ngModel)]="filtroUser"
          (ngModelChange)="filtrarUsuario()"
          class="filter-input"
        />
      </div>
      <div class="item-filter">
        <label for="locals" style="text-wrap: nowrap;">Filtrar por Local:</label>
        <input
          type="text"
          name="locals"
          placeholder="Digite o local aqui..."
          [(ngModel)]="filtroLocal"
          (ngModelChange)="filtrarLocal()"
          class="filter-input"
        />
      </div>
      <div class="item-filter">
        <label for="descs" style="text-wrap: nowrap;">Filtrar por Descrição:</label>
        <input
          type="text"
          name="descs"
          placeholder="Digite a descrição aqui..."
          [(ngModel)]="filtroDesc"
          (ngModelChange)="filtrarDesc()"
          class="filter-input"
        />
      </div>
    </div>

    <div class="dashboard-card" #relatorioPDF id="relatorio-pdf">
      <h3>Lista de Reivindicações</h3>


      <div class="pending-claims">
        <div *ngFor="let r of reivindicacoesFiltradas; trackBy: trackByReivindicacao">
          <div class="claim-item">
            <div class="claim-info">
              <strong>{{ r.item.nome }}</strong>
              <span>{{ r.usuario }}</span>
              <span>posse: {{ r.posse }}</span>
            </div>

            <div class="claim-info">
              <span><b>Local:</b> {{ r.item.local }}</span>
              <span><b>Descrição:</b> {{ r.item.descricao }}</span>
            </div>

            <div class="claim-info">
              <span>{{ r.item.data | date: 'dd/MM/yyyy' }}</span>
            </div>

            <div class="status stt-div">
              <span
                class="status"
                [ngClass]="{
                  'pendente': r.status === 'disponivel',
                  'aprovado': r.status === 'devolvido',
                  'recusado': r.status === 'descartado'
                }"
              >
                {{ r.status | titlecase }}
              </span>
            </div>

            <div
              class="placeholder-actions"
              *ngIf="((usuarioLogado.tipo === 'admin') && !(r.status === 'disponivel'))">
            </div>

            <div
            class="claim-actions btns-div"
            *ngIf="usuarioLogado.nome != 'visitante@example.com' && r.status === 'disponivel'">
              <button class="btn-approve" (click)="aprovar(r)">Aprovar</button>
              <button class="btn-reject" (click)="recusar(r)">Recusar</button>
            </div>
        </div>
      </div>
    </div>
  </div>

  <div class="export-card">
    <button class="btn-export" (click)="exportarPDF()">
      Exportar PDF
    </button>
  </div>
</div>
